.row{
    display: flex;
    width: auto;
    height: 100px;
    background-color: white;
    /* margin: 0 auto; */
    


}
.col, .col-2, .col-3{
    flex: 1;
    margin: 10px;
    height: 60px;
    padding: 10px;
    background-color: lightgreen;

}

.col-2{
    flex: 2;



}

.col-3{

flex: 3;

}
